.git
.idea
.vscode
**/.terraform
**/terraform-workspaces
**/*.tfstate*
**/.terraform.lock.hcl
**/node_modules
**/target
**/dist
**/*.db
**/*.db-journal
**/*.log
.env
.env.local
Credentials.json
docker-compose.yml
Dockerfile
README.md
ARCHITECTURE.md
QUICKSTART.md
DEVOPS.md
Jenkinsfile
